/* body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

/* Animation for the intro text */
.intro-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadeInOut 2s ease-in-out forwards; /* Fades in and out over 2 seconds */
}

.intro-animation h1 {
  font-size: 50px;
  color: black;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Keyframes for fading in and out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
}
/* body {
 
} */
nav{
  /* margin-top: 10px; */
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  background-color: #151719;
  text-decoration: none;
}
.margint{
  margin-top: 30px;
}

nav ul {

  /* height: 100vh; */
  width: 30vw;
  min-width: 700px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;

  text-decoration: none;
}
nav h2{
  margin-left: -20px;
}
nav ul li{
 
  list-style-type: none;
}
.pages {
  
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #a0a0a0;
  font-size: 25px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.pages:before,
.pages:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #18f08b;
  transition: 0.5s;
  
}
.pages:after {
  left: 0;
  bottom: -10px;
}
.pages:before {
  right: 0;
  top: -10px;
}
.pages:hover {
  color: #ffffff;
  font-size: 25px;
}
.pages:hover:after,
.pages:hover:before {
  width: 100%;
}
.heading{
 
  /* margin-left: 200px; */
  color: white;
  font-family: "Poppins", sans-serif;
}


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 30px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 8s ease-in-out  infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%, 12.5%, 100% {
    transform: translateY(0); /* Animation starts and ends with letters in place */
  }
  6.25% {
    transform: translateY(-20px); /* Peak of the animation */
  }
}